<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <style> 
    body { font: 12px Arial;}
    path {
      stroke-width: 2;
      fill: none;
    }
    .axis path, .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
    }
    .area {
      fill: #F0F8FF;
      stroke-width: 0;
    }
    div.values{
      position: absolute;
      bottom : 270px ;
      left : 40;
    }
  </style>
</head>
<body>
  <div class = "values"> 
    <p>open : {{Open | safe}}</p>
    <p>close : {{close | safe}}</p>
    <p>high : {{high | safe}}</p>
    <p>low : {{low | safe}}</p>
  </div>

 <select id = 'companyList' onchange="myFunction()">
  {% for i in range(0,lent) %}

  <option value = {{symbols[i]}} id = {{companies[i]}}>{{companies[i]}}</option>>

  {% endfor %}
 </select>
  
<p id="demo">The selected company is {{SYMBOL}} and plotted data is related to {{mode}}</p>
<a href="/intraday"><button>intraday</button></a>
<a href="/day"><button>day</button></a>
<a href="/week"><button>week</button></a>
<a href="/month"><button>month</button></a>
<a href="/intraday"><button>reflect the change</button></a>
<a href="/"><button>Logout</button></a>
<a href="/redirect_to_watchlist"><button>watchList</button></a> 

<div id='graphDiv'></div>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
 
    if({{flag}} == 1){
      sessionStorage.setItem("is_reloaded", "yesd");
      sessionStorage.setItem("setItem", 0);
    }
    if (sessionStorage.getItem("is_reloaded") == "yesdah!"){ 
    var select = document.getElementById("companyList");
    select.selectedIndex = sessionStorage.getItem("setItem");
    sessionStorage.setItem("is_reloaded", "yesd");
    }
  
    function myFunction() {
      
      var select = document.getElementById("companyList");
      var option = select.options[select.selectedIndex];
      var y = option.value;
      flag = 1;
      y = JSON.stringify(y);
      sessionStorage.setItem("setItem", select.selectedIndex);
      
      sessionStorage.setItem("is_reloaded", "yesdah!");
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "http://127.0.0.1:5000/intraday");
      xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
      xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      xhr.send(y);
  }
    var graphData = {{ data.chart_data | safe }};
    var open = {{Open | safe }};
    var low = {{low | safe }};
    var high = {{high | safe }};
    var close = {{close | safe }};
    var index = {{inde | safe}};


    // Set the dimensions of the svg
    var margin = {top: 30, right: 50, bottom: 30, left: 50};
    var svgWidth = 600;
    var svgHeight = 270;
    var graphWidth = svgWidth - margin.left - margin.right;
    var graphHeight = svgHeight - margin.top - margin.bottom;

    // Parse the date / time
    if(index == 1){
      var parseDate = d3.time.format("%Y-%m-%d %H:%M:%S").parse;
    }
    else{
     var parseDate = d3.time.format("%Y-%m-%d").parse;
    }
    // Set the ranges
    var x = d3.time.scale().range([0, graphWidth]);
    var y = d3.scale.linear().range([graphHeight, 0]);

    // Define the axes
    var xAxis = d3.svg.axis().scale(x)
        .orient("bottom").ticks(10);

    var yAxis = d3.svg.axis().scale(y)
        .orient("left").ticks(10);

    // Define the High line
    var highLine = d3.svg.line()
        .x(function(d) { return x(d.timestamp); })
        .y(function(d) { return y(d.open); });

   /* var closeLine = d3.svg.line()
        .x(function(d) { return x(d.timestamp); })
        .y(function(d) { return y(d.Close); });

    var lowLine = d3.svg.line()
        .x(function(d) { return x(d.timestamp); })
        .y(function(d) { return y(d.Low); });

    var area = d3.svg.area()
      .x(function(d) { return x(d.timestamp); })
      .y0(function(d) { return y(d.Low); })
      .y1(function(d) { return y(d.High); })
  */
    // Adds the svg canvas
    var svg = d3.select("#graphDiv")
      .append("svg")
        .attr("width", svgWidth)
        .attr("height", svgHeight)
      .append("g")
        .attr("transform", 
        "translate(" + margin.left + "," + margin.top + ")")

    // define function
    function draw(data) {
      data.forEach(function(d) {
        d.timestamp = parseDate(d.timestamp);
        //d.High = +d.High;
        //d.Close = +d.Close;
        //d.Low = +d.Low;
        d.open = +d.open;
      });
      // Scale the range of the data
      x.domain(d3.extent(data, function(d) { return d.timestamp; }));
      y.domain([d3.min(data, function(d) {
          return Math.min(d.open) }),
          d3.max(data, function(d) {
          return Math.max(d.open) })]);
      // Add the area path.
   /*   svg.append("path")
        .datum(data)
        .attr("class", "area")
        .attr("d", area)*/
      // Add the 2 valueline paths.
      svg.append("path")
        .style("stroke", "green")
        .style("fill", "none")
        .attr("class", "line")
        .attr("d", highLine(data));
     /* svg.append("path")
        .style("stroke", "blue")
        .style("fill", "none")
        .style("stroke-dasharray", ("3, 3"))
        .attr("d", closeLine(data));
      svg.append("path")
        .style("stroke", "red")
        .attr("d", lowLine(data));*/
      // Add the X Axis
      svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + graphHeight + ")")
          .call(xAxis);
      // Add the Y Axis
      svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);
 /*     svg.append("text")
        .attr("transform", "translate("+(graphWidth+3)+","+y(graphData[0].High)+")")
        .attr("dy", ".35em")
        .attr("text-anchor", "start")
        .style("fill", "green")
        .text("High");
      svg.append("text")
        .attr("transform", "translate("+(graphWidth+3)+","+y(graphData[0].Low)+")")
        .attr("dy", ".35em")
        .attr("text-anchor", "start")
        .style("fill", "red")
        .text("Low");
      svg.append("text")
        .attr("transform", "translate("+(graphWidth+3)+","+y(graphData[0].Close)+")")
        .attr("dy", ".35em")
        .attr("text-anchor", "start")
        .style("fill", "blue")
        .text("Close"); */
        svg.append("text")
        .attr("transform", "translate("+(graphWidth+3)+","+y(graphData[0].open)+")")
        .attr("dy", ".35em")
        .attr("text-anchor", "start")
        .style("fill", "green")
        .text("Open");
    };

draw(graphData);

</script>
</body>
</html>